<script src="./js/finance.js"></script>   
     <!--Start Breadcrumb-->
<div class="row">
	<div id="breadcrumb" class="col-xs-12">
	<a href="#" class="show-sidebar">
						  <i class="fa fa-bars"></i>
						</a>
		<ol class="breadcrumb pull-left">
			<li><a href="index">首页</a></li>
			<li><a href="#">我的待办任务</a></li>
			<li><a href="#">报文审批待办</a></li>
			<li><a href="#">班长审批</a></li>
		</ol>
	</div>
</div>       
            <div class="container-fluid">
                       <div class="row">
                    <div class="col-lg-12">
                    <div class="box ui-draggable ui-droppable">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-coffee"></i> <span>班长审批</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
						</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
					</div>
					<div class="no-move"></div>
				</div>
				<div class="box-content">
                                <table id="grid-data" class="table table-condensed table-hover table-striped">
							        <thead>
							            <tr>
							                <th data-column-id="applyer" data-identifier="true" data-type="numeric">申请人</th>
							                <th data-column-id="applytime" data-formatter="applytime">申请时间</th>
							                <th data-column-id="itemlist">申请内容</th>
							                <th data-column-id="total">是否修改</th>
							                <th data-column-id="taskid">任务ID</th>
							                <th data-column-id="taskname">任务名称</th>
							                <th data-column-id="processinstanceid" >流程实例ID</th>
							                <th data-formatter="commands">操作</th>
							            </tr>
							        </thead>
							    </table>
                            </div>
                            </div>
                        </div>
                    </div>
	<div class="row">
		<div class="col-lg-12">
			<div class="box ui-draggable ui-droppable" id="dept">
				<div class="box-header">
					<div class="box-name">
						<i class="fa fa-search"></i> <span>班长审批</span>
					</div>
					<div class="box-icons">
						<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
						</a> <a class="expand-link"> <i class="fa fa-expand"></i>
						</a> <a class="close-link"> <i class="fa fa-times"></i>
						</a>
					</div>
					<div class="no-move"></div>
				</div>
				<div class="box-content">
						<form role="form" action="startleave" method="post">
							<div  class="col-sm-12">

								<!-- ship -->

								<!-- form -->
								<div class="col-sm-9">
									<div class="form-horizontal">
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-5 control-label">公司</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="company" name="公司" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">抵达时间</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="farrivetimedtm" name="抵达时间" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-5 control-label">船舶年序号</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fshipyearnumvcr" name="船舶年序号" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">船舶代码</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fshipcodenum" name="船舶代码" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-5 control-label">航次</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fshipordernum" name="航次" underline="true"/>                                                </div>
												</div>

												<div class="hr-line-dashed"></div>
												<div class="form-group">
													<label class="col-sm-5 control-label">船舶名称</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fshipname" name="船舶名称" underline="true"/>
													</div>
												</div>

												<div class="hr-line-dashed"></div>

											</div>
										</div>
									</div>

									<div class="form-horizontal">
										<div class="row">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-5 control-label">泊位代码</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fberthnum" name="泊位代码" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">泊位名称</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fberthname" name="泊位名称" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">签数吨2</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fsigntonnum2" name="签数吨2" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">签数吨</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fsigntonnum" name="签数吨" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>



												<div class="form-group">
													<label class="col-sm-5 control-label">装船状态</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fshipstatevcr" name="装船状态" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">统计年月 月份 所属日期</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fcounttimedtm" name="统计年月 月份 所属日期" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">舱数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fcabinnumnum" name="舱数" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">11最大承重吨</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fmaxweighnum" name="最大承重吨" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">R吨数1</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="frton1num" name="R吨数1" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BQ吨数1</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fbqton1num" name="BQ吨数1" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">R吨数2</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="frton2num" name="R吨数2" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BQ吨数2</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fbqbton2num" name="BQ吨数2" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BM吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fbmtonnum" name="BM吨数" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BJ吨数1</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fbjtonnum1" name="BJ吨数1" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>




											</div>
											<div class="col-sm-4">

												<div class="form-group">
													<label class="col-sm-5 control-label">BJ吨数2</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fbjtonnum2" name="BJ吨数2" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">11结果</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="lineresult" name="结果" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">11状态</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="linestate" name="状态"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">R吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="rton" name="R吨数" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BM吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="bmton" name="BM吨数" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BQ吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="bqton" name="BQ吨数" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>



												<div class="form-group">
													<label class="col-sm-5 control-label">BJ吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="bjton" name="BJ吨数" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">最大吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="maxton" name="最大吨数" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">最小吨数</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="minton" name="最小吨数" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">R吨偏差率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="rrate" name="R吨偏差率" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">BM吨偏差率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="bmrate" name="BM吨偏差率" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">BQ吨偏差率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="bqrate" name="BQ吨偏差率" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">BJ吨偏差率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="bjrate" name="BJ吨偏差率" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>


											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-5 control-label">煤种名称1</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fcoalname1" name="煤种名称1" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">煤种名称2</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fcoalname2" name="煤种名称2" underline="true"/>
													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">签数结果</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="signresult" name="签数结果" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">签数状态</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="signstate" name="签数状态" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">签数率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="signrrate" name="签数率" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">签数BM率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="signbmrate" name="签数BM率" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">签数BQ率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="signbqrate" name="签数BQ率" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">签数BJ率</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="signbjrate" name="签数BJ率" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">11开始时间</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fstarttimedtm" name="" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">11停止时间</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fstoptimedtm" name="" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>

												<div class="form-group">
													<label class="col-sm-5 control-label">11battle名称</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fbattlename" name="" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">11流动名称</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fflowname" name="" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


												<div class="form-group">
													<label class="col-sm-5 control-label">11船舱数量</label>
													<div class="col-sm-7">
														<input autocomplete="off" type="text"  class="form-control" id="fcabinnumnumno" name="" underline="true"/>

													</div>
												</div>
												<div class="hr-line-dashed"></div>


											</div>
										</div>
									</div>

								</div>
								<!-- form over -->
							</div>
						<div class="form-group has-feedback">
							<label>是否被修改：</label> <label id="modify" style="color: red">未获取到</label>
						</div>
						<div class="form-group">
						                <label>审批意见</label>
						                <div class="controls">
											<select name="finance" id="finance">
												<option value="true">同意</option>
												<option value="false">拒绝</option>
											</select>
										</div>
						             </div> 
						<button id="btn" type="button" class="btn btn-primary">完成</button>
					</form>
				</div>
			</div>

		</div>
	</div>

</div>
            
            
            
